   .body {
     position: relative;
     margin: 0;
     padding: 0;
   }

   * {
     box-sizing: border-box;
   }

   .header {
     margin: 0 auto;
     padding: 30px 0 145px 0;
     position: relative;
     background-image: url(../images/banner-bg.jpg);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
   }

   .header:after {
     display: block;
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     background-color: black;
     opacity: 60%;
   }


   .header-logo-link {
     z-index: 1;
   }

   .header-logo-image {
     width: 180px;
   }

   .header-line {
     max-width: 1200px;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
   }

   .header-menu {
     z-index: 1;
     list-style-type: none;
     margin: 0;
     padding: 0;
     display: flex;
     gap: 20px;
     align-items: center;
     position: relative;
   }

   .header-menu-item {
     font-family: OpenSans;
     font-style: normal;
     font-size: 13px;
     z-index: 2;
     text-transform: uppercase;
     color: white;
     text-decoration: none;
   }

   .header-menu-item:hover {
     border-bottom: 1px solid white;
   }

   .burger-menu {
     display: none;
     z-index: 1;
     width: 1.3em;
     height: 1em;
     border: none;
     padding: 0;
     background-color: transparent;
     font-size: 25px;
     position: relative;
     text-indent: -9999px;
   }

   .burger-menu:before {
     top: 0;
   }

   .burger-menu:after {
    bottom: 0;
  }

   .burger-menu:before, .burger-menu:after {
      content: "";
      width: 100%;
      height: 20%;
      background-color: #ffffff;
      position: absolute;
      left: 0;
   }

   .burger-menu-label {
      width: 100%;
      height: 20%;
      margin-top: -0.1em;
      background-color: #ffffff;
      position: absolute;
      left: 0;
      top: 50%;
}

   .header-title {
     position: relative;
     margin: 0 auto;
     padding: 0;
     text-align: center;
     max-width: 680px;
     margin-top: 125px;
     font-family: "OpenSans";
     font-size: 45px;
     font-weight: bold;
     line-height: 75px;
     text-transform: uppercase;
     color: #fff;
     z-index: 1;
   }

   .content {
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 45px 0 0 0;
     gap: 60px;
     position: relative;
   }

   .current-trends {
     margin: 0 auto;
     width: 100%;
     display: flex;
     flex-direction: column;
     position: relative;
   }

   .trends {
     width: 100%;
     margin: 0 auto;
     display: flex;
     align-items: stretch;
     margin-top: 25px;
     gap: 3px;
     position: relative;
   }

   .trend {
     margin: 0 auto;
     display: flex;
     padding: 0 20px 15px 20px;
     align-items: flex-end;
     width: 25%;
     height: 320px;
     background-size: cover;
     background-repeat: no-repeat;
     position: relative;
   }

   .trend:after {
     display: block;
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     background-color: black;
     opacity: 60%;
   }

   .trend-garden {
     background-image: url(../images/trend1.jpg);
   }

   .trend-cheese {
     background-image: url(../images/trend2.jpg);
   }

   .trend-mountains {
     background-image: url(../images/trend3.jpg);
   }

   .trend-limons {
     background-image: url(../images/trend4.jpg);
   }

   .central-part {
     margin: 0 auto;
     display: flex;
     gap: 120px;
     width: 96%;
     max-width: 1200px;
   }

   .post {
     display: flex;
     align-items: flex-start;
     gap: 30px;
     margin-bottom: 60px;
   }

   .post:last-child {
     margin-bottom: 0;
   }

   .post-picture {
     max-width: 380px;
   }

   .categories {
     list-style-type: none;
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: start;
     gap: 20px;
   }

   .category {
     margin: 0;
     padding: 0;
     vertical-align: top;
     text-transform: uppercase;
     font-family: OpenSans;
     font-weight: bold;
     font-size: 14px;
     line-height: 40px;
     color: #b59f5b;
   }

   .link {
     text-decoration: none;
     color: inherit;
   }

   .section-title {
     margin: 15px 0 0 0;
     padding: 0;
     vertical-align: top;
     text-transform: uppercase;
     font-family: OpenSans;
     font-weight: bold;
     font-size: 20px;
     line-height: 24px;
     color: #0f0d0e;
   }

   .current-title {
     text-align: center;
     margin-top: 0;
   }

   .current-title:after {
     display: block;
     content: '';
     margin: 0 auto;
     margin-top: 12px;
     width: 65px;
     height: 3px;
     background-color: #b59f5b;
   }

   .trend-title {
     color: #fff;
     font-size: 20px;
   }

   .trend-post-info {
     padding: 40px 30px;
     z-index: 1;
     border: 3px solid #b59f5b;
     width: 100%;
   }

   .publication-details {
     margin-top: 35px;
     display: flex;
   }

   .post-datetime {
     margin: 0 15px 0 0;
     padding: 0;
     vertical-align: top;
     font-family: OpenSans;
     font-weight: regular;
     font-size: 12px;
     color: #888888;
   }

   .post-author {
     margin: 0;
     padding: 0;
     vertical-align: top;
     font-family: OpenSans;
     font-weight: bold;
     font-size: 12px;
     color: #000;
   }

   .common-text {
     margin: 50px 0 0 0;
     padding: 0;
     font-family: OpenSans;
     font-weight: regular;
     font-size: 15px;
     line-height: 22px;
     color: #0f0d0e;
   }

   .our-products {
     display: flex;
     flex-direction: column;
   }

   .products {
     margin: 0 auto;
     margin-top: 25px;
     padding-left: 25px;
     padding-right: 25px;
     display: flex;
     gap: 87px;
   }

   .product {
     display: flex;
     flex-direction: column;
     margin: 0;
     padding: 0;
     position: relative;
     width: 30%;
     max-width: 300px;
   }

   .product-image {
     width: 100%;
   }

   .product-details {
     margin: -30px -20px 0 -20px;
     padding: 37px 20px 30px 20px;
     outline: 3px solid #b59f5b;
     flex-grow: 1;
   }

   .product-name {
     margin: 0;
     padding: 0;
     font-family: OpenSans;
     text-transform: uppercase;
     font-size: 20px;
     line-height: 24px;
     color: #0f0d0e;
     font-weight: 700;
   }

   .product-description {
     font-family: OpenSans;
     margin: 16px 0 0 0;
     padding: 0;
     font-size: 15px;
     line-height: 22px;
     color: #0f0d0e;
     font-weight: 400;
   }

   .product-link {
     text-decoration: none;
     color: #b59f5b;
   }

   .product-purchase {
     margin-top: 25px;
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
   }

   .product-price {}

   .old-price {
     margin: 0;
     padding: 0;
     font-size: 14px;
     line-height: 24px;
     text-decoration: line-through;
     color: #0f0d0e;
     font-weight: 700;
     font-family: "Open Sans";
   }

   .new-price {
     margin: 0;
     padding: 0;
     font-size: 20px;
     line-height: 24px;
     color: #0f0d0e;
     font-weight: 700;
     font-family: "Open Sans";
     ;
   }

   .product-purchase-button {
     width: 140px;
     padding: 0;
     border: none;
     text-decoration: none;
     text-transform: uppercase;
     color: #fff;
     height: 48px;
     background-color: #b59f5b;
     font-size: 14px;
     line-height: 40px;
     font-weight: 700;
     font-family: "Open Sans";
     text-align: center;
   }

   .footer {
     margin: 0 auto;
     margin-top: 60px;
     width: 1160px;
     padding: 0 0 40px 0;
   }

   .footer-icons {
     margin: 0;
     padding: 20px 0;
     background-color: #f3f7f5;
     list-style: none;
     display: flex;
     gap: 27px;
     justify-content: center;
     align-items: center;
   }

   .footer-icon {
     width: 20px;
     height: 20px;
     background-size: cover;
   }

   .twitter-icon {
     background-image: url(../svg/004-twitter.svg);
   }

   .facebook-icon {
     background-image: url(../svg/002-facebook-logo.svg);
   }

   .instagram-icon {
     background-image: url(../svg/005-instagram.svg);
   }

   .pinterest-icon {
     background-image: url(../svg/001-pinterest.svg);
   }

   .tumblr-icon {
     background-image: url(../svg/003-tumblr.svg);
   }

   .copyright {
     margin: 47px 0 0 0;
     padding: 0;
     text-align: center;
     font-family: OpenSans;
     font-weight: bold;
     font-size: 12px;
     color: #999999;
   }

   .new-posts {
     flex-direction: column;
   }

   .additional-title {
     margin: 0;
     padding: 0;
     text-align: center;
     font-family: OpenSans;
     font-weight: bold;
     font-size: 14px;
     text-transform: uppercase;
   }

   .additional-title:after {
     display: block;
     content: '';
     margin: 0 auto;
     margin-top: 12px;
     width: 65px;
     height: 3px;
     background-color: #b59f5b;
   }

   .new-post {
     margin-top: 30px;
     display: flex;
     flex-direction: row;
     gap: 15px;
     align-items: start;
   }

   .new-post-picture {
     max-width: 70px;
   }

   .new-post-datetime {
     margin: 0 0 10px 0;
     padding: 0;
     font-family: OpenSans;
     font-weight: normal;
     font-size: 12px;
     color: #000000;
   }

   .new-post-title {
     margin: 0;
     padding: 0;
     font-family: OpenSans;
     font-weight: bold;
     font-size: 14px;
     text-transform: uppercase;
     color: #000;
   }

   .search {
     margin-top: 60px;
     display: flex;
     gap: 1px;
   }

   .field {
     width: 100%;
     box-sizing: border-box;
     padding: 0 18px;
     min-height: 60px;
     background-color: #f3f7f5;
     border: 0px;
   }

   .field:focus {
     outline: 1px solid blue;
   }

   .search-button {
     vertical-align: middle;
     min-height: 60px;
     min-width: 60px;
     border: none;
     padding: 15px;
     background-image: url(../svg/search.svg);
     background-repeat: no-repeat;
     background-color: #b59f5b;
     background-size: 20px;
     background-position: center center;
   }

   .tags {
     margin-top: 60px;
   }

   .topics {
     margin-top: 60px;
   }

   .mailing {
     margin-top: 60px;
     display: flex;
     flex-direction: column;
   }

   .form-row {
     display: flex;
     flex-direction: column;
     gap: 20px;
     margin-top: 40px;
   }

   .tags-list {
     list-style-type: none;
     margin: 40px 0 0 0;
     padding: 0;
     display: flex;
     gap: 5px;
     flex-wrap: wrap;
   }

   .tag {
     text-transform: uppercase;
     margin: 0;
     padding: 8px 12px;
     font-family: OpenSans;
     font-size: 12px;
     color: #0f0d0e;
     font-weight: 700;
     border: 3px solid #f3f3f1;
     outline-offset: 5px;
   }

   .submit {
     padding: 0;
     border: none;
     text-transform: uppercase;
     min-height: 55px;
     width: 100%;
     background-color: #b59f5b;
     font-size: 14px;
     line-height: 40px;
     color: #ffffff;
     font-weight: 700;
     font-family: "Open Sans";
   }

   .topics-list {
     margin: 40px 0 0 0;
     padding: 0;
     list-style-type: none;
   }

   .topic {
     position: relative;
     font-family: OpenSans;
     font-weight: bold;
     font-size: 14px;
     padding: 20px 0 13px 0;
     border-bottom-width: 1px;
     border-bottom-style: solid;
     border-bottom-color: #ededed;
   }

   .posts-number {
     margin-left: 4px;
     color: #b59f5b;
     font-family: OpenSans;
     font-weight: bold;
     vertical-align: super;
   }

   .feedback-form {
     display: none;
     position: fixed;
     z-index: 1;
     position: fixed;
     top: 245px;
     left: calc((100% - 390px) / 2);
     padding: 55px 30px;
     background-color: #fff;
     width: 390px;
   }

   .close-feedback-form {
     position: absolute;
     top: -25px;
     right: 0;
     background-image: url(../svg/form-x.svg);
     width: 15px;
     height: 25px;
     background-repeat: no-repeat;
     border: none;
     outline: none;
     background-color: transparent;
   }

   .feedback-question {
     font-family: OpenSans;
     font-size: 15px;
     line-height: 22px;
     color: #0f0d0e;
     font-weight: 400;
     margin: 30px 0 10px 0;
     padding: 0;
   }

   .visit-frequency {
     -webkit-appearance: none;
     -moz-appearance: none;
     width: 100%;
     box-sizing: border-box;
     margin: 0;
     padding: 0 18px;
     min-height: 60px;
     background-color: #f3f7f5;
     border: none;
     outline: none;
     background-image: url(../svg/form-arrows.svg);
     background-repeat: no-repeat;
     background-size: 8px 18px;
     background-position: right 15px center;
   }

   .visit-frequency-option {}

   .radio {
     position: absolute;
     clip: rect(1px, 1px, 1px, 1px);
     height: 1px;
     width: 1px;
   }

   .radio-label {}

   .radio-group-text {
     margin: 0 15px 0 0;
   }

   .radio-group-text::before {
     content: "";
     display: inline-block;
     vertical-align: middle;
     margin-right: 5px;
     width: 18px;
     height: 18px;
     background-image: url(../svg/form-empty-circle.svg);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: 18px;
   }

   .radio:checked+.radio-group-text::before {
     background-image: url(../svg/form-circle.svg);
   }

   .more-content {
     resize: none;
     margin: 0;
     width: 100%;
     box-sizing: border-box;
     padding: 25px 0 0 18px;
     min-height: 130px;
     background-color: #f3f7f5;
     border: none;
     outline: none;
   }

   @media screen and (min-width: 320px) and (max-width: 1199px) {
    .header-menu {
      display: none;
     }

     .burger-menu {
      display: initial;
     }

     .trends {
      flex-wrap: wrap;
    }

    .section-title {
      margin-top: 0;
    }

    .post {
      flex-direction: column;
      margin-bottom: 40px;
      border-bottom: 3px solid #eeeeee;
      padding-bottom: 22px;
      gap: 0;
    }
    
    .products {
      flex-wrap: wrap;
    }
    
    .footer {
      width: 91%;
      min-height: 80px;
    }

   }


   @media screen and (min-width: 641px) and (max-width: 1199px) {
     .header {
       background-image: url(../images/banner-bg-tablet.jpg);
     }

     .header-title {
       max-width: 605px;
       margin-top: 100px;
       font-size: 45px;
       line-height: 55px;
     }

     .header-line {
      width: 91%;
    }

     .trend {
       width: calc((100% / 2) - 3px);
     }

     .category {
       line-height: 37px;
     }

     .trend-title {
       max-width: 550px;
     }

     posts-list {
       width: 100%;
     }

     .central-part {
       padding-left: 5%;
       padding-right: 5%;
       gap: 5%;
     }

     .section-title {
      font-size: 17px;
      line-height: 22px;
     }

     .common-text {
       margin-top: 40px;
     }

     .products {
      padding-left: 7%;
      padding-right: 7%;
      gap: 10%;
     }

     .product {
      width: 45%;
     }

     .product:nth-child(3n+3) {
      margin-top: 4.5%;
     }

     .footer {
       width: 90%;
       margin-top: 50px;
     }
   }
   
   @media screen and (min-width: 641px) and (max-width: 732px) {
     .post-picture {
       max-width: 320px;
     }

   }

   @media screen and (min-width: 320px) and (max-width: 640px) {

    .content {
      gap: 40px;
    }

    .header {
      background-image: url(../images/banner-mobile.jpg);
    }

    .header-logo-image {
      position: absolute;
      top: 29.5%;
      left: 0;
      padding-left: 12.5%;
      padding-right: 12.5%;
      width: 100%;
    }

    .header-line {
      width: 93%;
    }

    .header-title {
      margin-top: 96%;
      margin-bottom: 64%;
      margin-left: 11%;
      margin-right: 11%;
      font-size: 26px;
      line-height: 36px;
    }

    .trend {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }

    .trend-title {
      font-size: 16px;
      line-height: 20px;
    }

    .central-part {
      flex-direction: column;
      margin: 0;
      gap: 45px;
    }

    .post {
      flex-direction: column;
      align-items: center;
      padding-left: 4.5%;
      padding-right: 4.5%;
      gap: 0;
    }

    .section-title {
      font-size: 16px;
      line-height: 20px;
    }

    .publication-details {
      margin-top: 25px;
    }
    
    .common-text {
      margin-top: 15px; 
    }

    .additional-title {
      font-size: 16px;
    }

    .new-posts {
      padding-left: 4.5%;
      padding-right: 4.5%;
    }

    .search {
      margin: 45px auto 0 auto;
      width: 91%;
    }

    .mailing {
      margin: 45px auto 0 auto;
      width: 91%;
    }

    .tags {
      margin: 45px auto 0 auto;
    }

    .tags-list {
      margin-top: 25px;
      padding-left: 4.5%;
      padding-right: 4.5%;
    }

    .topics {
      margin-top: 45px;
      padding-left: 4.5%;
      padding-right: 4.5%;
    }

    .topics-list {
      margin-top: 0;
    }

    .products {
      padding-left: 29px;
      padding-right: 29px;
      gap:0;
    }

    .product {
      width: 100%;
      margin: 0 auto;
    }

    .product:nth-child(n+2) {
      margin-top: 25px;
    }

    .current-title {
      font-size: 16px;
      line-height: 29px;
    }

   }

   @media screen and (min-width: 320px) and (max-width: 388px) {
    .post-picture {
      max-width: 100%;
    }
   }


   @font-face {
     font-family: "OpenSans";
     src: url(../fonts/OpenSans-Regular.woff) format("woff");
     font-style: normal;
     font-weight: normal;
   }

   @font-face {
     font-family: "OpenSans";
     src: url(../fonts/OpenSans-Bold.woff) format("woff");
     font-style: normal;
     font-weight: bold;
   }